<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    {% if current_user.is_authenticated %}
        <p>Welcome! <strong>{{ current_user }}</strong></p>
        <h1>List Score</h1>

            <table border="1">
            <tr>
                <th>Môn Học</th>
                <th>Điểm Giữa Kỳ</th>
                <th>Điểm Cuối Kỳ</th>
            </tr>
            {% for score in student_scores %}
                <tr>
                    <td>{{ score.course.name }}</td>
                    <td>{{ score.mid_term_score }}</td>
                    <td>{{ score.final_term_score }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Vui lòng đăng nhập để xem điểm.</p>
    {% endif %}
</body>
</html>